body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;

	font-size: 15px;
	line-height: 1.6;
}
*,
*:before,
*:after {
	box-sizing: border-box;
}


h1, h2, h3, h4, h5, h6 {margin: 0}

/*container*/
.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

/*intro*/
.intro{
	width: 100%;
	height: 560vh;

	background: url("../img/intro.png") center 
	no-repeat;
	-webkit-background-size: cover;
	background-size: cover
}

/*Header*/
.header{
	width: 100%
	padding-top: 30px;

	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
}

.header_inner{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/*header_logo*/
.header_logo{
	font-size: 30px;
	font-weight: 700;
	color: 000;
}

/*nav*/
.nav {
	font-size: 20px;
	text-transform: none;
}

.nav_link{
	display: inline-block;
	vertical-align: top;
	margin: 0 7px;
	position: relative;

	color: #000;
	text-decoration: none;

	transition: color 0.1s linear;
}

.nav_link:after {
	content: "";
	display: block;
	width: 100%;
	height: 3px;

	background-color: #D3D3D3;
	opacity: 0;

	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1;

	transition: opacity 0.1s linear;
}

.nav_link:hover {
	color: #D3D3D3;
}

.nav_link:hover:after {
	opacity: 1;
}

/*text for paragraph*/
/*.head*/
.head {
	font-size: 33px;
	color: #FFF;
}
/*.text*/
.text {
	font-size: 19px;
	color: #FFF;
	
}

/*wiki*/
.wiki {
	font-size: 20px;
	color: #FFF;
}